// _variables.scss
$white: #ffffff;
$base-color: #ffde00;
$base-hover-color: #fec609;
$black : #000000;
$font-stack: 'Helvetica Neue', sans-serif;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

